.Profile{
    width: 85%;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(4,1fr);
}
.Profile_P{
    width: 85%;
    height: 100%;
    display: flex;
}
.Profile_P .Profile_Po{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 10%;
    
    overflow-y: scroll;
}

.Profile_photo{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Profile_photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.Profile_stats{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 1/2;
}
.Profile_bio{
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
}
.Profile_bio textarea{
    width: 80%;
    height: 80%;
}
.bio_edit_btn{
    cursor: pointer;border: none;
    background-color: transparent; 
    color: black;
    align-self:flex-end;
    margin-right: 0;
    margin-left: auto;
    padding: 5%;
}
.Profile_post{
    grid-column: 1/3;
    grid-row: 3/5;
    overflow-x: scroll;
    display: flex;
}


.post_review{
    height: 100%;
    min-width:33.3%; 
    border: 1px solid black;
    cursor: pointer;
    display: flex;
}

.post_review img{
    width: 100%;
}

.clear_btn_Profile{
    position: absolute;
    right:2%;
}
.Profile_comments{
    width: 50%;
    height: 100%;
    
    overflow-y: scroll;
}
.editPostForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.editPostForm .editFormInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;

}
.editPostForm .editFormInput textarea{
    width: 80%;
    height: 50%;
}
.profileSetting_btn{
    position: absolute;
    top:2%;
    right:2%;
}
.setting{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.setting div {
    width: 50%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting div textarea{
    width: 100%;
    height: 100%;
}


@media (max-width: 600px){
    .Profile{
        width: 100%;
        height: 90%;

    }
    .Profile_photo{
        grid-column: 1/3;
        grid-row: 1/2; 
    }

    .Profile_photo img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    .Profile_stats{
        grid-column:2/3;
        grid-row:2/3;
        flex-direction: column;
        align-items: flex-start;
        padding: 5%;
    }
    .Profile_bio{
        grid-column:1/2;
        grid-row:2/3; 
        align-items: center;
    }


    .Profile_post{
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        align-items: center;
        justify-content: center;
    }
    
    
    .post_review{
        height: 41%;
        min-width:48%;
        max-width: 50%;
        border: 1px solid black;
        cursor: pointer;
    }
    .Profile_P{
        width: 100%;
        flex-direction: column;
    }
    .Profile_Po_mob{
        width: 100% !important; 
        height:90% !important;
        overflow: scroll;

        
    }
    

    .clear_btn_Profile{
        top:5%;
        right:1%;
    }
    .editPostForm{
        height: 50%;
        width: 100%;
        justify-content:space-evenly;
        
    }
    .setting{
        width: 100%;
    }

    .Profile_comments{
        height: fit-content;
        width: 100%;
        padding-bottom: 10%;
    }
    
}