.Post{
    width: 510px;
    background-color: bisque;
    border-bottom: 0.5px solid rgb(92, 92, 92);
    min-height: fit-content;
    margin-bottom: 20px;
}

.comment_Button{
    border: none;
    background-color: transparent; 
    cursor: pointer;
    padding: 10px;
    color: grey;
}

.Post_Comments div textarea{
    width: 99.5%;
    height: 50px;
}

.show_addComment button{
    border: none;
    background-color: transparent; 
    cursor: pointer;
    padding: 10px;
    color: grey;
    color: black;
}

/* .show_addComment{

} */
.hide_addComment{
    display: none;
}




@media (max-width:700px) {
    .Post{
        width: 100%;
        min-height: fit-content;
    }
    
}
