.Stories{
    
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(94, 94, 94);
    width: 100%;

}
.story{
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 1;
    backdrop-filter:blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.story_hide{
    display: none;
}
.story .clear_btn{
    position: fixed;
    top:0;
    background-color: rgb(193, 113, 8);
}

.Stories_stack{
    overflow-x: scroll;
}

.Stories_stack::-webkit-scrollbar {
    
    height: 0.2em
}

.Stories_stack::-webkit-scrollbar-button {
    background:grey
}
.Stories_stack::-webkit-scrollbar-track-piece {
    background:transparent
}

.Stories_stack::-webkit-scrollbar-thumb {
    background:grey;
}