.Search{
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchArea{
    position: relative;
    bottom:5%;
    border: 1px solid grey;
    border-radius: 2px;
    width: 80%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.searchArea input{
    width:70%;
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
}

.searchArea::before{
    content: "";
    position: absolute;
    background-color:rgba(128,128,128,0.5);
    top:0;
    left: 0;
    width:100%;
    height:100%;
    transition: all 0.5s;
    z-index: -4;
    
}
.searchArea:hover::before{
    height: 0;
}

.searchArea input:focus{
    outline: none;
}







.searchResult{
    border: 1px solid grey;
    border-radius: 2px;
    width: 80%;
    height: 70%;
    max-height: 70%;
    position: relative;
}


.searchResult::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.Search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (max-width:600px) {
    .Search{
        width: 100%;
    }

    .searchArea{
        bottom:10%;
        height: 6%;
        width: 90%;
    }
    .searchResult{
        width: 90%;
        height: 55%;
    }

}


